<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div class="container">
    <h1 class="mt-5">Список пользователей</h1>

    <!-- Таблица пользователей -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Страна</th>
            <th>Пол</th>
            <th>Изменить/Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.country}"></td>
            <td th:text="${user.gender}"></td>
            <td>
                <div class="action-buttons">
                    <form th:action="@{'/users/edit/' + ${user.id}}" method="get" style="display: inline;">
                        <button class="btn btn-link" type="submit">Изменить</button>
                    </form>
                    <form th:action="@{'/users/delete/' + ${user.id}}" method="post" style="display: inline;">
                        <button class="btn btn-link text-danger" type="submit"
                                onclick="return confirm('Вы уверены, что хотите удалить данного пользователя?');">
                            Удалить
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>